* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  height: 50px;
  background-color: khaki;
  text-align: center;
  line-height: 50px;
  margin-bottom: 100px;
}

span {
  color: red;
}
li {
  list-style: none;
  height: 25px;
  cursor: pointer;
}

ul input {
  width: 40px;
  border: none;
  background-color: rgb(230, 230, 28);
  text-align: center;
}

ul::after {
  content: "-------------------------------------";
  padding-bottom: 150px;
}
.menu,
.results {
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  background-color: rgb(134, 185, 82);
  padding-top: 20px;
}

ul > p {
  margin-bottom: 15px;
}

.selected {
  background-color: rgb(192, 107, 76);
}

#results {
  text-align: center;
}

.lineBtn,
.lineLi {
  display: inline-block;
}
